*{
    margin: auto;
    
}



.pattern{
    width: 1480px;
    height: 135px;
    background-color: rgb(106, 181, 252);
    background-image: url(/img/pattern.png);
    background-size: 30%;
    background-repeat: repeat;
    margin:auto;
}

#logo{
    width: 15%;
    padding-left: 0;
    padding-top: 40px;
}

.title{
    font-size: 20px;
    margin-left: 14%;
    margin-top: 30px;
}

#scrittoda{
    color: rgba(75, 73, 73, 0.61);
    font-size: 25px;
    margin-left: 14%;
}

#booleaner{
    color: rgb(91, 173, 250);
}

#date{
    color: rgba(75, 73, 73, 0.61);
    margin-left: 14%;
}

.tim{
    margin-left: 14%;
    margin-top: 20px;
}

#tim-photo-info{
    margin-left: 14%;
}

p{
    margin-left: 14%;
    margin-top: 20px;
    margin-right: 14%;
    font-size: 25px;
}

#highlighter{
    background-color: yellow;
}

ul{
    margin-left: 13%;
    margin-top: 20px;
    margin-right: 14%;
    font-size: 25px;
}

table{
    margin-left: 14%;
    margin-top: 20px;
    margin-right: 14%;
    font-size: 25px;
    
}