body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1480px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}



.pattern{
    width: 1480px;
    height: 135px;
    background-color: rgb(106, 181, 252);
    background-image: url(img/pattern.png);
    background-size: 30%;
    background-repeat: repeat;
}

#logo{
    width: 15%;
    padding-left: 0;
    padding-top: 40px;
}

.title{
    font-size: 20px;
    margin-bottom: 0;
}
h1{
    margin-bottom: 0;
}

#scrittoda{
    color: rgba(75, 73, 73, 0.61);
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

#booleaner{
    color: rgb(91, 173, 250);
}

#date{
    color: rgba(75, 73, 73, 0.61);
    margin-top: 0;
}

.tim{
    margin-top: 20px;
}


p{
    margin-top: 20px;
    font-size: 25px;
}

#highlighter{
    background-color: yellow;
}

ul{
    margin-top: 20px;
    font-size: 25px;
    padding-left: 20px;
}

table{
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    border-collapse: unset;
    border-color: blue;
    border: none\;
}

#potrebbero{
    color: rgba(75, 73, 73, 0.61);
    font-size: 25px;
    margin-top: 20px;
}

.desktop{
    width: 200px;
    height: 200px;
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.graphic{
    width: 200px;
    height: 200px;
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

td{
    width: 400px
    
}

th{
    text-align: left;
}

.column-width{
    width: 25%;
}

.color-table-header{
    background-color: rgb(37, 182, 250);
    color:white;  
}

.coloredrow{
    background-color: rgb(178, 228, 245);
}

.photos-info{
    margin-top: 0;
}